.toggle{
    width: 50px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: white;
    position: fixed;
    top: 20px;
    right: 50%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.toggle-icon{
    width: 15px;
    height: 15px;
}

.toggle-button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
    cursor: pointer;
}

.darkBg{
	background-color: rgb(17, 17, 17);
}

.darkShadow{
	box-shadow: 1px 1px 5px 1px #222222;
}

.darkColor{
	color:#fff
}

@media screen and (max-width: 480px){
    .toggle{
        right: 43%;
    }
}