.info{
    display:flex;
    height: 100vh;
}

.info-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.info-rigth{
    flex: 1;
    position: relative;
}

.info-left-wrapper{
    padding: 30px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info-intro{
    font-size: 35px;
    font-weight: 400;
}

.info-name{
    font-size: 50px;
}

.info-title{
    height: 50px;
    overflow: hidden;
}

.info-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

.info-desc{
    font-size: 21px;
}

@keyframes move {
    33%{
        transform: translateY(-50px);
    }
    66%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(-150px);
    }
}

.info-title-item{
    height: 50px;
    font-size: 28px;
    font-weight: bold;
    color: #4361ee
}

.info-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:absolute;
}

.info-bg{
    clip-path: polygon(100% 0, 100% 0, 0 100%, 100% 100%);

    background-color: #4361ee;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    right: 0;
}

.info-scroll{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
}

@media screen and (max-width: 480px){
    .info{
        flex-direction: column;
    }

    .info-left-wrapper{
        height: 100%;
        padding: 15px;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .info-desc{
        display: none;
    }
}